/*Desktop*/
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
    /*Sign Up Page Styling*/
    .signup-login-container h1{
        font-size: 3.751em !important;
        font-weight: 800 !important;
    }
    .signup-login-container .well{
        background-color: #f4f4f2 !important;
    }

    .signup-login-container h6{
        font-size: 1.313em !important;
        font-weight: 400 !important;
    }
    .signup-login-container h5{
        font-size: 1.313em !important;
        font-weight: 700 !important;
    }
    .signup-login-container{
        padding-left: 100px;
        padding-right: 100px;
    }
    .signup-login-container form label{
       font-size: 1.002em;
       font-weight: 700;
    }
    .signup-login-container form{
        padding:55px;
    }
    .signup-login-container small{
        color: black;
        font-size: 1.128em
    }
    .signup-login-container form .btn-primary{
        margin-left:15px;

    }
    .signup-login-container .well h5{
        margin-left:55px;
    }
    .signup-login-container .well h6{
        margin-left:55px;
    }
    .signup-login-container .well .btn-primary{
        margin-left:55px;
    }
    .signup-login-container .well form .btn-primary{
        margin-left:0px;
    }
    .extended-btn{
        padding-left: 77px;
        padding-right: 77px;
    }
    .form-check-label{
        font-size: 1.313em !important;
        font-weight: 400 !important;
    }
    .input-group-addon{
        background-color: white !important;
        cursor: pointer;
    }
    .form-group .ppc-no-group{
        color: #00af41 !important;
    }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    /*Product Description Page*/
    .horizontal-break-line{
        width:100%;
    }

    .signup-login-container .well{
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        border:none;
        margin-bottom:0px;
        box-shadow: none;

    }
    .signup-login-container .well{
        background-color: #f4f4f2 !important;
    }
    .signup-login-container .btn-primary{
        width: 100%;
    }
    .input-group-addon{
        background-color: white !important;
        cursor: pointer;
    }
    .form-group .ppc-no-group{
        color: #00af41 !important;
    }


}