@media (min-width: 768px) {
    .price2{
        color: black !important;
    }
    .rating-sm{
        font-size: 1em !important;
    }
    .review-tab{
        margin-top: 25px;
        text-align: center;
        width:50%;
    }

    .review-btn{
        margin-top: 25px;
    }
    .reviews-desktop .col-sm-2{
        border-right: none !important;
    }
    .review-header-rating{
        margin-top:8px;
        margin-left:10px;
    }
    .total-reviews-header{
        margin-top: 24px;
    }
    .prod-details{
        margin-bottom: 20px;
    }
    .prod-details .advert {
        color: #FFFFFF;
        width: 35px;
        font-size: 12px;
        font-weight: 700;
        height: 16px;
        border-radius: 2px;
        top: 0;
        left: 0;
        position: absolute;
    }
    .prod-title{
        font-size: 26px;

    }
    .prod-details .text-muted{
        font-size: 30px;
        font-weight: bold;
        color:#dddddd;
    }
    .prod-details .price{
        color: #ed1d23;
        font-size: 30px;
        font-weight: bold;
    }
    .prod-category{
        margin-top:10px;
    }
    .text-muted-1{
        font-size: 14px !important;
        color:#777 !important;
    }
    .prod-details .rating-container {
        float: left;
        margin-top: 2px;
    }
    .write-review{
        text-decoration: underline;
        margin-left:10px;
        font-weight: bold;
    }
    .heart-grey{
        margin-left:10px;
    }
    .dropdown{
        width:50% !important;
    }
    .dropdown .drop-down-btn{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 14px !important;
    }
    .dropdown .drop-down-btn :hover :active :focus{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 14px !important;
    }
    .regular-font{
        font-weight: 400;
    }
    .dd-menu{
        width:98%;
    }
    .top-margin-6{
        margin-top: 6px;
    }
    .top-margin-10{
        margin-top: 10px;
    }
    .availability-title{
        font-size: 24px;
        margin:0px 0px 0px !important;
        margin-left: 10px !important;

    }
    .in-stock-flag{
        font-size: 12px;
        font-weight: bold;
        border-style: solid;
        border-width:2px;
        border-color:#00AF41;
        padding:2px 10px;
        margin-left: 20px;

    }
    .fourteen-px-p{
        font-size: 14px;
    }
    .fourteen-px-p-underline{
        font-size: 14px;
        text-decoration: underline;
    }
    .row-zero-margin{
        margin-left: 0px !important;
    }
    .left-margin-20{
        margin-left:20px ;
    }
    .left-margin-7{
        margin-left: 7px;
    }
    .fav-btn{
        width: 100%;
        height: 60px;
        font-size: 24px;
        border-radius: 2px;
    }
    .left-margin-2{
        margin-left: 2px;
    }
    .prod-details-accordion .panel{
        border: none !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-top: solid 1px #f0f0f0 !important;
        border-radius:0px !important;
    }
    .prod-details-accordion .panel-heading{
        border:none !important;
    }
    .left-padding-15{
        padding-left: 15px;
    }
    .prod-description-panel{
        width:90%;
    }


    /*Details Section*/
    .prod-details-accordion .panel-heading{
        font-size: 2.5093750250939997em !important;
        font-weight: 400;
    }
    .prod-details-accordion li{
        font-size: 1.1710416783772em;
        font-weight: 400;
    }
    .bold-18{
        font-size: 1.5056250150564em;
        font-weight: bold;
    }
    .bold-14{
        font-size:1.1710416783772em;
        font-weight: bold;
    }
    .regular-14{
        font-size: 1.1710416783772em !important;
        font-weight: 400 !important;
    }
    .regular-font-weight{
        font-weight: 400 !important;
    }
    /*Details Section*/

    /* Recommended Products*/
    #recommended-products {
        background-color: #f4f4f2;
        padding-top: 70px;
        padding-bottom: 140px;
    }
    #recommended-products .product-tile h3{
        font-size: 1.1768968867690859em !important;
        font-weight: 700 !important;
    }
    #recommended-products .product-tile .caption p{
        font-size: 1.51398959847338em !important;
        font-weight: 400 !important;

    }
    #recommended-products .product-tile .caption .price{
        font-size: 1.51398959847338em !important;
        font-weight: 700 !important;
        color: black !important;

    }
    /* /Recommended Products*/


    /* Recently Viewed Products*/
    #recently-viewed {
        background-color: #f4f4f2;
        padding-top: 70px;
        padding-bottom: 140px;
    }
    #recently-viewed .product-tile h3{
        font-size: 1.1768968867690859em !important;
        font-weight: 700 !important;
    }
    #recently-viewed .product-tile .caption p{
        font-size: 1.51398959847338em !important;
        font-weight: 400 !important;

    }
    #recently-viewed .product-tile .caption .price{
        font-size: 1.51398959847338em !important;
        font-weight: 700 !important;
        color:#ed1d23;

    }
    /* /Recently Viewed Products*/




    /* Review Section Styling*/
    .reviews-desktop h3{
        font-size: 3.0112500301128em;
        font-weight: 400;
    }
    .reviews-desktop .rating-sm{
        font-size: 1.756em !important;
    }
    .reviews-desktop h5{
        font-size: 1.8402083517355998em;
        font-weight: 700;
    }
    .reviews-desktop .btn-primary{
        font-size: 1.6729166833959999em;
        font-weight: 400;
    }
    .reviews-desktop hr{
        width: 90%;
        color: #f0f0f0;
    }
    .review-rows h5{
        font-size: 1.3383333467168em;
        font-weight: 700;
    }
    .review-rows h6{
        font-size: 1.0037500100376em;
        font-weight: 400;
    }
    .review-rows .rating-sm{
        font-size: 1.756em !important;
    }
    .review-rows .btn-small{
        background-color: #00af41;
        color: white;
        margin-left: 20px;
        padding:0px 15px;
    }
    .review-rows h4{
        font-size: 1.8402083517355998em ;
        font-weight: 700;
    }
    .review-rows p{
        font-size: 1.1710416783772em ;
        font-weight: 400;
    }
    .review-rows{
        margin-bottom: 100px;
    }
    /* /Review Section Styling*/
}

@media (max-width: 767px) {
    .dropdown{
        width:50% !important;
    }
    .dropdown .drop-down-btn{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 14px !important;
    }
    .dropdown .drop-down-btn :hover :active :focus{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 14px !important;
    }
    .rating-sm{
        font-size: 1em !important;
    }
    .fav-btn{
        width: 100%;
    }
    .prod-details-accordion ul{
        list-style: none;
    }
    .prod-details-accordion ul{
        padding: 0px;
    }

    .reviews-desktop{
        display: none;
    }
    #recently-viewed .products-container .container {
         width: 1170px;
    }
    #recommended-products .products-container .container {
        width: 1170px;
    }
}