/*Desktop*/
@media (min-width: 768px){
    .hover-details{
        padding:9px;
        display: none;
    }
    .hover-details .btn-primary{
        width:100%;
    }
    .hover-details ul{
        padding-left: 18px !important;
    }
    .hover-details .custom-checkbox{
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
    .hover-details .custom-checkbox label{
        font-weight: 400 !important;
    }

    .prod-carousel{
        display: none;
    }
    .prod-img-tile{
        display: block;
    }

    #myCarousel{
        z-index:0;
    }
    #myCarousel .thumbnail {
        margin-bottom:0;
    }
    .carousel-control {
        color:#939598;
        top:44%;
        bottom:auto;
        opacity:1;
    }
    .carousel-control:hover {
        color:#939598;
    }
    .carousel-control.left, .carousel-control.right {
        background-image:none !important;
    }
    .carousel-control.right {
        left:auto;
        right:-15px;
    }
    .carousel-control.left {
        right:auto;
        left:-15px;
    }
}