.bg-light-gray {
  background: #f4f4f2;
}
.about-landing-boxs .feature-wrap .feature-img img {
  height: auto;
  width: 100%;
}
#franchise-landing-page.about-landing-boxs {
  padding: 50px 0 100px;  
}
.page-banner.about-banner {
    background-image: url(../images/banners/about-banner.jpg);
}
#franchise-landing-page.about-landing-boxs .feature-wrap {
  padding-left: 0;
}
/*News landing*/
.news-cards {
  background: #f4f4f2;
  padding: 50px 0;  
}
.card-bx {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0, 0.1);
  margin: 0 0 20px;
  border-radius: 4px;
}
.card-img img {
  width: 100%;
}
.card-txt {
  padding: 20px;
}
.card-txt time {
  font-size: 12px;
  display: block;
  margin: 0 0 10px;
  color: #818181;
}
.card-txt h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px;
}
.card-txt h6 {
  font-size: 14px;
  margin: 0 0 15px;
}
.card-txt p {
  margin: 0 0 20px;
  opacity: 0.8;
}
.card-txt .btn-primary {
  font-size: 16px;
}
/**/
.header-strip-2 {
  background: #231f1f;
}
ul.strip-2-list {
  padding: 15px 0;
  margin: 0;
  list-style: none;
}
ul.strip-2-list li {
  float: left;
  width: 20%;
  text-align: center;
}
ul.strip-2-list li a {
  display: inline-block;
  font-size: 16px;
  color: #00af41;
  text-transform: uppercase;
  border: 1px solid #231f1f;
  padding: 5px 10px 3px;
  border-radius: 20px;
  line-height: 16px;
  font-weight: bold;
}
ul.strip-2-list li a:hover {
  color: #fff;
}
ul.strip-2-list li.active a {
  color: #fff;
  border-color: #00af41;
}
#breadcrumb {
  position: relative;
}
.page-banner.franchise-banner .v-align-banner .banner-heading {
    top: 0;
    margin-top: 0 !important;
}
.v-align-banner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*News Detail*/
.news-detail-data {
  margin: 0 0 30px;
}
.news-detail-data {
  margin: 0 0 10px;
}
.news-detail-data time {
  color: #818181;
  font-size: 15px;
}
.detail-social {
  display: inline-block;
  padding-left: 15px;
}
.detail-social a,
.detail-social a:hover {
  color: #00af41;
  font-size: 18px;
}
.news-detail-txt {
  margin: 0 0 20px;
}
.news-detail-txt h3 {
  font-weight: normal;
}
.news-detail-txt p {
  margin: 0 0 20px;
}
.detail-img {
  margin: 0 0 20px;
}
.detail-img img {
  width: 100%;
}
.share-catagories {
  border-top: 1px solid #dddede;
  border-bottom: 1px solid #dddede;
  padding: 20px 0; 
}
.share-socials {
  float: left;
  margin: 0 15px 0 0;
}
.share-socials span {
  font-size: 15px;
}
.share-socials a {
  font-size: 18px;
  color: #00af41;
}
.share-socials .fa,
.detail-social .fa {
  margin: 0 0 0 10px;
}
.catg-badges {
  float: left;
}
.catg-badges a {
  background: #f4f4f2;  
  border: 1px solid #cacaca;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  margin: 0 5px 0 0;
  color: #464646;
}
.author-info-detail {
  border-bottom: 1px solid #dddede;
  padding: 20px 0;
}
.author-img {
  width: 75px;
  float: left;
}
.author-img img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.author-info-txt {
  float: left;
  width: 100%;
  width: calc(100% - 75px);
  -webkit-width: calc(100% - 75px);
  -moz-width: calc(100% - 75px);
  padding: 0 0 0 40px;
}
.author-info-txt h3 {
  font-size: 18px;
  margin: 0 0 20px;
}
.author-info-txt p {
  margin: 0 0 20px;
}
.news-cards.more-articles {
  background: #fff;
  padding-top: 0;
}
.news-cards.more-articles h2 {
  margin-bottom: 30px;
}
.news-cards.more-articles .card-txt {
  background: #f4f4f2;
}
@media (max-width: 991px) {
  ul.strip-2-list li {
    text-align: center;
  }
  ul.strip-2-list li a {
    font-size: 13px;
    padding: 5px 4px 3px;
  }
}
@media (max-width: 767px) {
  #page-banner .page-banner.franchise-banner .btn-primary.banner-btn {
    font-size: 18px;
  }
  .header-strip-2 {
    position: absolute;
    left: 0;
    width: 100%;
    top: 101px;
  }
  .header-strip-2 ul.strip-2-list li {
    width: 100%;
    margin: 0 5px 10px;
    text-align: left;
  }
  .news-filter-btn {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    cursor: pointer;
  }
  .news-filter-btn .fa {
    font-size: 18px;
    color: #00af41;
    padding: 0 6px;
  }
  .news-filter-btn span {
    background: #fff;
    display: inline-block;
    padding: 13px 20px 14px;
    color: #00af41;
    font-size: 16px;
  }
  .header-strip-2.navbar-collapse {
    padding-left: 0px;
  }
  ul.strip-2-list li a {
    font-size: 16px;
    padding: 5px 8px 3px;
  }
  .author-img {
    float: none;
    margin: 0 0 10px;
  }
  .author-info-txt {
    float: none;
    width: 100%;
    width: calc(100% - 0);
    -webkit-width: calc(100% - 0);
    -moz-width: calc(100% - 0);
    padding: 0 0 0 0px;
  }
  .author-info-txt h3 {
    font-size: 18px;
    margin: 0 0 10px;
  }
  .text-mob a {
    color: #000;
    text-decoration:  underline !important;
  }
  .news-cards.more-articles .card-bx {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  .news-cards.more-articles .card-bx .card-txt {
    position: absolute;
    z-index: 2;
    left: 0;
    padding: 20px;
    top: 0;
    background: rgba(0,0,0,0.3);
    color: #fff;
    height: 100%;
    width: 100%;
  }
  .news-cards.more-articles .card-bx .card-txt h3 {
    color: #fff;
    margin-bottom: 60px;
    font-weight: normal;
  }
  .news-cards.more-articles .card-bx .card-txt .btn.btn-primary,
  .news-cards.more-articles .card-bx .card-txt .btn.btn-primary:hover,
  .news-cards.more-articles .card-bx .card-txt .btn.btn-primary:focus,
  .news-cards.more-articles .card-bx .card-txt .btn.btn-primary:active {
    background: none;
    background-color: transparent !important;
    color: #fff;
    border: 0 !important;
    font-size: 18px;
    padding: 0;
    text-align: left;
    position: absolute;
    bottom: 20px;
  }
  .news-cards.more-articles .card-bx .card-txt .btn.btn-primary:after {
    content: "\f105";
    font-family: FontAwesome;
    margin: 0 0 0 6px;
  }
  .back-link-breadcrumb {
    text-transform: uppercase !important;
    font-weight: 600;
  }
  .back-link-breadcrumb .fa  {
    color: #00af41;
    margin: 0 10px 0 0;
  }
  .detail-social {
    display: none;
    position: absolute;
    right: 50px;
  }
  .show-social-mob {
    color: #a6a6a6;
    font-size: 20px;
    cursor: pointer;
    float: right;
  }
  .detail-social.show-icons {
    display: inline-block;
  }
  .news-detail-data time {
    position: relative;
    top: 4px;
  }
}