@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1322px;
    width: 100%;
    padding-right: 22px;
    padding-left: 22px;
  }
}

.col-lg-1, 
.col-lg-10, 
.col-lg-11, 
.col-lg-12, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5, 
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9, 
.col-md-1, 
.col-md-10, 
.col-md-11, 
.col-md-12, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-sm-1, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4, 
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-xs-1, 
.col-xs-10, 
.col-xs-11, 
.col-xs-12, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7,
.col-xs-8, 
.col-xs-9 {
  padding-right: 11px;
  padding-left: 11px;
}
.row {
  margin-left: -11px;
  margin-right: -11px;
}

/* Tablet Landcape and below */

@media (max-width: 1024px) {
  footer .main-footer .panel-group .col-md-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  #promotions .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/*Desktop*/
@media (min-width: 768px) {
    /*
    * header - navigation
    */
    .navbar {
        margin-bottom: 0;
        min-height: 53px;
    }
    .navbar--default .xs-screen-hidden {
        display: none;
    }
    .nav-main .navbar-nav > li {
        float: none;
        display: inline-block;
        *display: inline; /* ie7 fix */
        *zoom: 1; /* hasLayout ie7 trigger */
        vertical-align: top;
    }
    .logo-wrap {
        max-height: 48px;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 24px;
    }
    .navbar-nav {
        float: none;
        margin: 0;
        text-align: center;
    }
    .navbar-nav .yamm-fw {
        display: inline-block;
        float: none;
    }
    .navbar-nav .yamm-fw .finder-section{
        border-left: 1px solid #e9e8e8;
    }

    .navbar-nav .yamm-fw .finder-section img {
        max-width: 100%;
    }

    .navbar-nav {
        float: none;
        margin: 0;
        text-align: center;
        padding-top: 6px;
    }

    .nav-search {
        display: none;
    }
    .dropdown-product-details .dropdown-menu {
        padding: 10px;
    }
    .navbar-nav>li .dropdown-menu {
        margin-top: 4px !important;
        z-index: 1001;
    }
    .navbar-nav .open .dropdown-toggle:after {
        /*border-bottom: 15px solid #FFFFFF;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        content: "";
        left: 14px;
        position: absolute;
        bottom: 0;
        z-index: 1500;*/
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        right: 0px;
        /* bottom: -25px; */
        left: 0px;
        margin: 0 auto;
        top: 16px;
    }
    .account-display-picture {
        height: 34px;
        width: 34px;
        margin-top: 22px;
    }

    /*
    * Slider
    */
    .carousel-content .btn-primary {
        width: 300px;
        height: 55px;
        margin-top: 25px;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
    }

    /*
    * Categories Banner
    */
    .category-index .category-content {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        width: 100%;
        padding: 0px 20px;
    }

    /*Products*/



    .product-circle-arrow {
        text-decoration: none !important;
        padding-right: 10px;
    }
    .products-header .view-all {
        margin-right: -12px;
    }
    .prod-rating .rating-container {
        padding-top: 4px;
    }
    .product-tile:hover .hover-details{
        display : block;
    }
    /*product detail section*/
    .hover-details .btn-primary{
        width:100%;
    }
    .hover-details h4{
        margin-top: 0;
        margin-bottom: 4px;
    }
    .hover-details ul{
        padding-left: 18px !important;
        margin-bottom: 38px;
    }
    .hover-details ul li {
      font-weight: 400;
      font-size: 14px;
      text-indent: -5px;
    }
    .hover-details .custom-checkbox{
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
    .hover-details .custom-checkbox label{
        font-weight: 400 !important;
        font-size: 14px;
    }
    .prod-carousel{
        display: none;
    }
    .prod-img-tile{
        display: block;
    }
    .carousel-control {
        color:#939598;
        top:44%;
        bottom:auto;
        opacity:1;
        background-image:none !important;
    }
    .carousel-control.right {
        left:auto;
        right:-10px;
    }
    .carousel-control.left {
        right:auto;
        left:-10px;
    }


    #promotions {
        padding-top: 83px;
    }

    section#social-main .container-fluid img {
        width: 100%;
    }

    #newsletter .container {
        max-width: 580px;
    }

    #newsletter form .input-group-lg .form-control {
        height: 65px;
    }

    #newsletter form .input-group-lg > .input-group-btn > .btn {
        height: 65px;
        width: 90px;
        font-weight: 700;
        font-size: 24px;
    }

    /*
    * Footer
    */
    footer .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
    }

    footer .row.social {
        margin-right: -11px;
        margin-left: -11px;
    }

    footer .row img {
        display: -webkit-box;
        margin-top: 25px;
    }

    footer .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    footer .col-md-2, .col-sm-2, .col-lg-2 {
        border-right: 1px solid #383434;
    }

    /*
    * Page Specifics
    */

    /*
    * Category Home
    */
    .sort-order {
        padding-right: 0!important;
        margin-top: 55px;
    }

    /*desktop helper classes*/
    .product-heading {
        font-size: 2.559em !important;
        font-weight: 400;
    }
    .products-tile {
        height: 450px !important;
    }

    .products-header .view-all .pull-left {
        padding-top: 2px;
    }


    /*Product detail page*/

    .price2{
        color: black !important;
    }

    .review-tab{
        margin-top: 25px;
        text-align: center;
        width:50%;
    }

    .review-btn{
        margin-top: 25px;
    }
    .reviews-desktop .col-sm-2{
        border-right: none !important;
    }
    .review-header-rating{
        margin-top:8px;
        margin-left:10px;
    }
    .total-reviews-header{
        margin-top: 24px;
    }
    .prod-details{
        margin-bottom: 70px;
        float: left;
        width: 100%;
        padding-top: 50px;
    }

    .prod-title{
        font-size: 1.625em;
        font-weight: 900;

    }
    .prod-details .text-muted{
        font-size: 1.876em;
        font-weight: 700;
        color:#dddddd;
    }
    .prod-details .price{
        color: #ed1d23;
        font-size: 1.876em;
        font-weight: 700;
        margin-left: 5px;
        margin-right: 2px;
    }
    .product-description small{
        font-size: 0.875em;
        font-weight: 500 !important;
    }
    .prod-category{
        margin-top:10px;
        font-size: 0.875em;
        font-weight: 700;
    }
    .text-muted-1{
        font-size: 1em !important;
        color:#777 !important;
    }
    .prod-details .rating-container {
        float: left;
        margin-top: 2px;
        margin-right: 4px;
    }
    .prod-details .rating {
        margin-top: 8px;
    }

    .prod-details .rating .text-muted {
        color: #b1b1b1 !important;
        line-height: 33px;
    }

    .prod-details .rating .write-review {
        line-height: 33px;
    }

    .write-review a{

        margin-left:10px !important;
        font-size: 1.001em;
        font-weight: 500;

    }
    .prod-details a{
        text-decoration: underline !important;
        color: black !important;
        cursor: pointer;
    }
    .prod-details a:hover
    {
        text-decoration: none !important;
    }

    .heart-grey{
        margin-left:10px;
    }
    .dropdown-product-details{
        width:50% !important;
    }
    .dropdown-product-details img{
        margin-top: 4%;
    }
    .dropdown-product-details .drop-down-btn{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 0.875em !important;
    }
    .dropdown-product-details .drop-down-btn :hover :active :focus{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 0.875em  !important;
    }
    .dropdown-product-details .drop-down-btn b{
        font-weight: 700;
    }
    .dropdown-product-details .drop-down-btn :hover :active :focus b{
        font-weight: 700;
    }
    .regular-font{
        font-weight: 400;
    }
    .dd-menu{
        width:98%;
    }
    .top-margin-6{
        margin-top: 6px;
    }
    .top-margin-10{
        margin-top: 10px;
    }
    .availability-title{
        font-size: 1.500em;
        font-weight: 400;
        margin:0px 0px 0px !important;
        margin-left: 10px !important;

    }
    .in-stock-flag{
        font-size: 0.750em;
        font-weight: 700;
        border-style: solid;
        border-width:2px;
        border-color:#00AF41;
        padding:2px 10px;
        margin-left: 20px;

    }
    .low-stock-flag{
        font-size: 0.8571428571428571em;
        font-weight: bold;
        border-style: solid;
        border-width:2px;
        border-color:#0098ce;
        padding:2px 10px;
        margin-left: 20px;

    }
    .out-of-stock-flag{
        font-size: 0.8571428571428571em;
        font-weight: bold;
        border-style: solid;
        border-width:2px;
        border-color:#ed1d23;
        padding:2px 10px;
        margin-left: 20px;

    }
    .fourteen-px-p{
        font-size: 0.876em;
    }
    .fourteen-px-p-underline{
        font-size: 0.876em;
    }
    .row-zero-margin{
        margin-left: 0px !important;
    }
    .left-margin-20{
        margin-left:20px ;
    }
    .left-margin-7{
        margin-left: 7px;
        margin-top: -4px;
    }
    .fav-btn {
        width: 100%;
        height: 60px;
        font-size: 1.501em;
        border-radius: 2px;
        font-weight: 400;
    }
    .product-description-container .fav-btn {
        width: 79.5%;
        height: 64px;
        margin-top: 15px;
    }
    .left-margin-2 {
        margin-left: 2px;
    }
    .prod-details-accordion .panel {
        border: none !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        padding-top: 27px;
    }
    .prod-details-accordion .panel .bold-18 {
        line-height: 17px;
    }
    .prod-details-accordion .panel .prod-feature {
        margin-bottom: 2px;
    }
    .prod-details-accordion .panel-heading {
        border:none !important;
    }
    .left-padding-15{
        padding-left: 15px;
    }
    .prod-description-panel{
        width:90%;
    }


    /*Details Section*/
    .prod-details-accordion .filter-accordion{
        font-size: 1.875em !important;
        font-weight: 400;
        text-transform: none !important;
        padding-top: 0px;
        line-height: 27px;
        padding-bottom: 0px;
    }
    .prod-details-accordion li{
        font-size: 0.875em;
        font-weight: 400;
        line-height: 18.5829px;
    }
    .bold-18{
        font-size: 1.125em;
        font-weight: 700;
    }
    .bold-14{
        font-size:0.875em;
        font-weight: 700;
    }
    .regular-14{
        font-size: 0.875em !important;
        font-weight: 400 !important;
        line-height: 18.5829px;
    }
    .regular-font-weight{
        font-weight: 400 !important;
    }
    /*Details Section*/

    /* Recommended Products*/
    #recommended-products {
        background-color: #f4f4f2;
        padding-top: 37px;
        padding-bottom: 70px;
        margin-top: 90px;
    }
    #recommended-products .product-heading{
        font-size: 2.25em !important;
        font-weight: 400 !important;
    }
    #recommended-products .product-tile h3{
        font-size: 0.879em !important;
        font-weight: 700 !important;
    }
    #recommended-products .product-tile .caption p{
        font-size: 1.131em !important;
        font-weight: 400 !important;

    }
    #recommended-products .product-tile .caption .price{
        font-size: 1.131em !important;
        font-weight: 700 !important;
        color: black !important;

    }
    #recommended-products .text-muted{
        font-size: 0.879em !important;
        font-weight: 500 !important;

    }
    /* /Recommended Products*/


    /* Recently Viewed Products*/
    #recently-viewed {
        background-color: #f4f4f2;
        padding-top: 45px;
        padding-bottom: 70px;
    }

    #recently-viewed .product-heading {
        font-size: 2.250em !important;
        font-weight: 400 !important;
    }
    #recently-viewed .product-tile h3{
        font-size: 0.879em !important;
        font-weight: 700 !important;
    }
    #recently-viewed .product-tile .caption p{
        font-size: 1.131em !important;
        font-weight: 400 !important;

    }
    #recently-viewed .product-tile .caption .price{
        font-size: 1.131em !important;
        font-weight: 700 !important;
        color:#ed1d23;

    }
    /* /Recently Viewed Products*/




    /* Review Section Styling*/
    .reviews-desktop h3{
        font-size:  2.250em;
        font-weight: 400;
    }
    .reviews-desktop .rating-sm{
        font-size: 1.5em !important;
    }
    .reviews-desktop h5{
        font-size: 1.375em;
        font-weight: 700;
    }
    .reviews-desktop .btn-primary{
        font-size: 1.250em;
        font-weight: 400;
        margin-top:18px;
        min-width: 193px;
        height: 50px;
        float: right;
        margin-right: -30px;
    }
    .reviews-desktop hr{
        width: 100%;
        color: #f0f0f0;
    }
    .review-rows h5{
        font-size: 1.00em;
        font-weight: 700;
    }
    .review-rows h6{
        font-size: 0.750em;
        font-weight: 400;
    }
    .review-rows .rating-sm{
        font-size: 1.5em !important;
    }
    .review-rows .btn-small{
        background-color: #00af41;
        color: white;
        margin-left: 20px;
        padding:0px 15px;
    }
    .review-rows h4{
        font-size: 1.375em;
        font-weight: 700;
    }
    .review-rows p{
        font-size: 0.875em;
        font-weight: 400;
    }
    .review-rows {
        margin-bottom: 100px;
        margin-top: 50px;
    }
    /* /Review Section Styling*/
    .zoom-icon-carousel {
        z-index: 1000;
        position: absolute;
        top: auto;
        left: auto;
        bottom: 109px;
        right: 11px;
    }
    .promo-image{
        width: 100%;
    }
    /*Zoom Functionality*/
    /* The Modal (background) */
    .zoom-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow:hidden; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .zoom-modal-content {
        margin: auto;
        display: block;
        max-width: 500px;
        min-width: 350px;
    }



    /* Add Animation to Product Carousel */
    .zoom-modal-content{
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)}
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }
    /* /Add Animation to Product Carousel */

    /* Stores Modal Styling*/
    .stores-modal .modal-header {
        border: none !important;
    }
    .stores-modal .modal-footer {
        border: none !important;
    }
    .stores-modal .modal-body h5{
        margin-top: 0px;
        font-size: 1.2857142857142858em;
        font-weight: 400;

    }
    .stores-modal .modal-body h6{

        font-size: 1.0007142857142857em;
        font-weight: 400;

    }
    .stores-modal .modal-body h2{

        font-size: 1.0007142857142857em;
        font-weight: 700;

    }
    .my-store-modal{
        font-size: 1.4285714285714286em;
        color: #00af41;
        margin-left: 12px;
    }
    .store-modal-btn{
        width: 160px;
        height: 64px;
        background-color: #343434;
        border: 0px ;
        font-size: 1.4285714285714286em;
        border-radius: 5px !important;
    }
    .store-modal-btn:hover{
        width: 160px;
        height: 64px;
        background-color: #343434 !important;
        border: 0px ;
        font-size: 1.4285714285714286em;
        border-radius: 5px !important;
    }
    .stores-modal .modal-title{
        position: absolute;
        top: 4%;
        font-size: 1.7142857142857142em !important;
    }
    .stores-modal .close{
        font-size: 1.0007142857142857em;
        color: black !important;
        text-decoration: underline;
    }


    /* /Stores Modal Styling*/
    .share-photos-heading{
        font-size: 1.875em;
        font-weight: 400;
    }
    .share-photos-btn{
        font-size: 0.875em;
        margin-top:6px;
    }
    .share-photos-btn img{
        margin-right: 0px;
        margin-bottom: 4px;
    }
    .share-photos-btn span{
        padding-right: 4px;
    }
    .row-modal{
        margin-left: -15px;
        margin-right: 0px;
    }
    #signup-section {
      clear: both;
    }
    /*Login/Signup*/
    .signup-login-container {
        width: 83%;
        float: none;
        margin: 0 auto;
    }
    .signup-login-container .form-container {
        padding: 65px 82px;
    }
    .main-footer .panel-default .panel-heading {
        padding: 0 0 5px 0;
    }
    .main-footer .panel-default .panel-body {
        padding: 15px 0;
    }
    .main-footer  .col-md-2, .col-sm-2, .col-lg-2 {
        width: 15.666667%;
    }
    footer .layer-footer {
      padding-right: 67px;
      padding-bottom: 20px;
    }

    footer .layer-footer small {
        font-size: 12.22px;
        font-weight: 400;
    }

    .navbar-nav>li>a {
        padding: 10px 20px;
    }


}

@media (max-width: 768px) {
  .main-header .profile-section .locations p, 
  .main-header .profile-section .favourites p,
  .main-header .profile-section .list-inline p {
    font-size: 10px;
  }
  .main-header .profile-section .list-inline>li {
    padding-right: 0px;
  }
  .container-fluid.main-header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .main-header .newsletter span {
    font-size: 10px;
    padding-left: 25px
  }
  .main-header .logo-wrap {
    max-height: 37px;
    margin-top: 30px;
  }
  .navbar-collapse.collapse {
    padding: 0px;
  }
  .navbar-nav>li>a {
    padding: 10px 10px;
  }
  .yamm .yamm-content {
    padding: 15px 0px;
  }
  .navbar-nav>li .dropdown-menu {
    z-index: 1000;
  }
  #hero-slider .fill-carousel {
    background-attachment: inherit;
    background-repeat: no-repeat;
  }
  #hero-slider .carousel-inner {
    height: 40%;
  }
  .carousel-content {
    top: 10%;
  }
  .carousel-content .btn-primary {
    margin-top: 0px;
  }
  .products-container {
    overflow-x: auto;
  }
  .products-container .container {
    width: 1130px;
  }
  .product-tile:hover .hover-details {
    display: none;
  }
  #category-banners .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #hero-products {
    padding-top: 40px;
    padding-bottom: 90px;
  }
  .img-content .food-finder {
    top: 5.5%;
    left: 4.5%;
  }
  .img-content .our-pack {
    top: 14%;
    left: 54%;
  }
  .img-content .resource {
    top: 13%;
    left: 4.1%;
  }
  .img-content .career {
    padding-right: 30px;
    top: 7%;
    left: 50.5%;
  }
  .img-content .food-finder .text-large,
  .img-content .our-pack .text-large,
  .img-content .resource .text-large,
  .img-content .career .text-large {
    font-size: 45px;
  }
  .img-content .food-finder .text-md,
  .img-content .our-pack .text-md,
  .img-content .resource .text-md,
  .img-content .career .text-md {
    font-size: 30px;
  }
  .img-content .our-pack .text-md {
    padding-right: 30px; 
  }
  #promotions .img-content .btn-primary {
    display: none;
  }
  #social-main {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  footer .row {
    display: block;
  }
  footer  .main-footer .panel-group .col-md-2 {
    display: block;
    width: 100%;
    border-bottom: 1px solid #393636;
    border-right: 0px;
    padding: 28px 15px;
  }
  footer .main-footer .panel-default .panel-heading {
    padding: 0px;
    cursor: pointer;
  }
  footer  .main-footer {
    padding:0px;
  }
  footer .main-footer .footer-logo,
  .panel-heading.hidden-xs,
  .main-footer .panel-group .col-md-2:last-child h5.hidden-xs {
    display: none;
  }
  footer .main-footer .panel-default .social {
    margin-top: 0px;
    padding: 22px 0px;
    border-bottom: 1px solid #393636;
    margin-bottom: 30px;
  }
  footer .row.social {
    margin:0px;
  }
  footer .main-footer .panel-group .col-md-2:last-child,
  footer .main-footer .panel-group {
    padding: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
  }
  footer .main-footer .panel-group .col-md-2:first-child,
  footer .main-footer .panel-group .col-md-2:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-footer .panel-group .col-md-2:last-child .panel-body {
    padding: 0px;
  }
  .main-footer .panel-default .social .fa-2x {
    font-size: 4.14em;
  }
  footer .layer-footer {
    text-align: left;
    padding: 5px 15px 20px 15px;
  }
  footer .panel-heading .accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
  }
  footer .panel-heading.collapsed .accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f054";
    float: right;
  }
  .signup-login-container {
    width: 90%;
  }
  .signup-login-container .login-well {
    margin-bottom: 150px;
  }
  .signup-login-container .form-container {
    padding: 35px 0px;
  }
  #categories-home .col-md-3.hidden-xs {
    display: none;
  }
  #categories-home .product-categories-grid {
    width: 100%;
    float: left;
  }
}


/*Medium devices*/
@media (max-width: 1200px) and (min-width: 992px) {

    #category-banners .scroll-container .container {
        width: 1200px;
    }
    .main-footer .footer-logo {
        width: 100%;
    }
    footer .copyright {
        white-space: normal;
    }

}

/*@media (max-width: 767px) {*/
/*Tablets layouts*/
@media (max-width: 992px) and (min-width: 768px) {

    #category-banners .scroll-container .container {
        width: 992px;
    }

    .category-index {
        max-width: 470px;
    }

    .category-index .btn-primary {
        width: 210px;
    }
    .main-footer .footer-logo {
        width: 100%;
    }
    footer .copyright {
        white-space: normal;
    }
}

/*Mobile layout*/
@media (max-width: 767px) {
  .main-header {
    display: none;
  }
    /*header*/
    .navbar-toggle {
        z-index: 10;
        padding: 7px 10px;
        margin-left: 5px;
    }
    .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

    .navbar-brand {
        padding: 12px 15px;
    }
    .navbar-brand img.visible-xs {
    display: inline !important;
    }

    .navbar {
        margin-bottom: 0;
    }
    .nav-search {
        border-radius: 0;
    }
    .header-icon {
    position: relative;
    padding-top: 12px;
    padding-right: 15px;
    z-index: 1000;
    }

    .yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
        background-color: #231f1f;
    }
    .container-fluid .navbar-collapse, .container-fluid .navbar-header, .container .navbar-collapse, .container .navbar-header {
        margin-left: -16px;
        margin-right: -16px;
    }


    /*
   * Slider
   */
    /*.carousel-content p {*/
        /*font-size: 16px;*/
    /*}*/

    .carousel-content {
        top: 30%
    }

    .carousel-inner > .item > img {
        height: 360px;
    }

    #hero-slider .carousel-inner {
      height: 100%;
    }
    #hero-slider .carousel-content .text-large {
      font-size: 1.900em;
      line-height: 25px
    }
    #hero-slider .carousel-content .btn-primary {
      font-size: 1.000em;
      padding: 12px 12px;
    }



    /*Containers*/
    #category-banners {
        background-color: #f4f4f2;
    }

    #category-banners .scroll-container .container {
        width: 710px;
    }

    #category-banners .container {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-x: hidden;
        padding-bottom: 5px;
    }

    .category-index {
        max-width: 335px;
        background-color: #ffffff;
        padding-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #eaeae9;
    }

    .category-index .category-content {
        text-align: center;
    }

    .category-banner {
        max-width: 570px;
        min-width: 332px;
        height: 205px;
    }

    .category-content .shop-buttons {
        margin-top: 10px;
    }

    .category-index .btn-primary {
        height: 40px;
        margin: 5px;
        width: 150px;
        padding: 8px 22px !important;
        font-size: 1.00em;
    }

    .img-content .btn-primary {
        padding: 10px 22px;
    }

    /*Products*/
    .products-header {
        border-top: 1px solid #c3c3c2;
    }

    #hero-products {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .products-container {
        overflow-x: auto;
    }
    .products-container .row .col-xs-3 {
        width: 25%;
        padding-right: 0;
    }
    .products-container .row .col-xs-3 .product-tile, #recommended-products .product-tile {
        min-height: 355px;
    }
    .products-container .row .col-xs-3 .product-tile .caption h3,
    .products-container .row .col-xs-3 .product-tile .advert{
        font-size: 0.675em;
    }
    .products-container .row .col-xs-3 .product-tile .caption p,
    .products-container .row .col-xs-3 .product-tile .prod-footer .text-muted,
    .products-container .row .col-xs-3 .product-tile .prod-footer .rating-sm,
    .products-container .row .col-xs-3 .product-tile .prod-footer .price {
        font-size: 0.875em;
    }
    .products-container .row .col-xs-3 .product-tile .prod-footer {
        top: 87%;
    }

    #hero-products .products-container .container, #recently-viewed .products-container .container , #recommended-products .products-container .container {
        width: 750px;
    }


    /*Promotions*/
    #promotions .text-large {
        font-size: 1.500em;
    }
    .img-content .food-finder {
        top: 0;
        left: 5%;
    }

    .img-content .our-pack {
        top: 0;
        left: 53%;
        line-height: 1;
    }

    .img-content .resource {
        top: 0;
        left: 4%;
        width: 60%;
    }

    .img-content .career {
        top: 0;
        left: 46%;
        line-height: 1;
    }

    /*
    * newsletter button group
    */
    .newsletter-invitation .input-group .form-control,
    .newsletter-invitation .input-group-btn {
        display: block;
        border-radius: 4px;
        width: 100%;
    }

    .newsletter-invitation .input-group-btn .btn {
        display: block;
        border-radius: 4px;
        width: 100%;
        margin-top: 60px;
    }

    .newsletter-invitation .input-group-btn > .btn + .btn {
        margin-left: 0px;
    }

    .newsletter-invitation .input-group-btn:first-child > .btn {
        margin-right: 0px;
    }

    .newsletter-invitation .input-group-btn:last-child > .btn {
        margin-left: 0px;
    }

    .newsletter-invitation .input-group {
        width: 100%;
    }

    /*
    *button classes
    */
    .btn-primary {
        height: 50px;
        min-width: 150px;
    }
    /*Helper classes*/
    .text-large {
        font-size: 2.5093750250939997em;
    }

    .text-md {
        font-size: 0.88em;
    }



    /*Product Detail Page */

    .dropdown-product-details{
        width:50% !important;
    }
    .dropdown-product-details .drop-down-btn{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 14px !important;
    }
    .dropdown-product-details .drop-down-btn :hover :active :focus{
        border-color: transparent !important;
        border-radius: 0px !important;
        background-color: #eeeeee !important;
        color: #080808 !important;
        width:98% !important;
        height:48px !important;
        font-size: 14px !important;
    }
    .fav-btn{
        width: 100%;
    }
    .prod-details-accordion ul{
        list-style: none;
    }
    .prod-details-accordion ul{
        padding: 0px;
    }

    .reviews-desktop{
        display: none;
    }

    .flex-control-thumbs{
        display: none;
    }

    /*Details Accordion*/
    #details-accordion{
        border: none !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #details-accordion .panel-body{
        padding: 0px !important;

    }
    #details-accordion .panel-heading {
        padding: 20px 0px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 1px solid #ddd !important;
        border-radius: 0px;
    }

    /*Ingredients Accordion*/
    #ingredients-accordion{
        border: none !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #ingredients-accordion .panel-body{
        padding: 0px !important;

    }
    #ingredients-accordion .panel-heading {
        padding: 20px 0px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 1px solid #ddd !important;
        border-radius: 0px;
    }

    /*Ingredients Accordion*/
    #reviews-accordion{
        border: none !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #reviews-accordion .panel-body{
        padding: 0px !important;

    }
    #reviews-accordion .panel-heading {
        padding: 20px 0px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 1px solid #ddd !important;
        border-radius: 0px;
    }

    .product-description-container{
        position: relative;
    }

    .product-categories-grid .product-tile .prod-footer{

        position: relative;
        padding-left: 4px;
    }

    /*Zoom functionality*/
    .modal-content {
        width: 100%;
    }

    .flexslider{
        border-right-width: 0px !important;
        border-left-width: 0px !important;

    }
    .flexslider .flex-viewport{
        border:none !important;
    }
    .flex-direction-nav .flex-prev{
        background-color: #f7f7f6 !important;
        position: absolute;
        left: -4.5% !important;
    }
    .flex-direction-nav .flex-next {
        background-color: #f7f7f6 !important;
        position: absolute;
        left: 93%;
    }
    .full-width-hr{
        background-color: #cccccc;
        width: 100%;
    }

    .in-stock-flag-mobile{

        border-style: solid;
        border-width:2px;
        border-color:#00AF41;
        padding:2px 10px;
        margin-right: 20px;
    }
    .row-zero-margin{
        margin-left: 0px;
    }

    /*Login/Signup*/
    .horizontal-break-line{
        width:100%;
    }

    .signup-login-container .well{
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        border:none;
        margin-bottom:0px;
        box-shadow: none;

    }
    .signup-login-container .well{
        background-color: #f4f4f2 !important;
    }
    .signup-login-container .btn-primary{
        width: 100%;
    }
    .signup-login-container .row-inline-control{
        padding-top: 15px;
    }
    .signup-login-container .form-container .btn-primary {
        padding: 6px 12px;
    }
    .signup-login-container h1 {
        font-size: 2.151em !important;
    }
    .signup-login-container h6 {
        font-size: 1.113em !important;
        padding: 10px 0;
    }
    
    .input-group-addon{
        background-color: white !important;
        cursor: pointer;
    }
    .form-group .ppc-no-group{
        color: #00af41 !important;
    }
    .label-group-signup p {
        margin: 10px 25px 10px 10px;
    }

    /*Components*/
    .breadcrumb-bar {
    padding: 0;
    }

    .breadcrumb-bar a:nth-last-child(2) {
    display: block !important;
    }

    .breadcrumb-bar .breadcrumb-list {
    display: block !important;
    padding-right: 15px;
    }

    .breadcrumb-bar a:first-child,
    .breadcrumb-bar a.breadcrumb-list {
      padding-left: 15px;
    }

    .breadcrumb-bar a:after {
      border: none;
    }
    .signup-login-container .account-error {
      font-size: 1.275em;
    }
    .signup-login-container h1 {
      margin-bottom: 15px;
    }
    .signup-login-container .well {
      border-radius: 0px;
    }
    .signup-login-container .form-container .un-registered {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .signup-login-container {
      width: 100%;
    }
    .categories-home-header select.input-lg {
        margin-top: 30px;
    }
}

/*Iphone6 landscape and below*/
@media (max-width: 667px) {
  .category-index .category-banner {
    width: 100%;
    height: auto;
    min-width: auto;
    max-width: none;
  }
  .img-content.category-index {
    width: 400px;
    max-width: none;
  }
  .products-container .row .col-xs-3 .product-tile .caption h3, 
  .products-container .row .col-xs-3 .product-tile .advert {
    font-size: 0.875em;
  }
  #category-banners .scroll-container .container {
    width: 850px;
  }
  .category-index .category-content {
    text-align: center;
    float: left;
    width: 100%;
    padding: 0px 20px;
  }
  .category-index .btn-primary {
    width: 48%;
    float: left;
    margin: 0px;
  }
  #hero-products .products-container .container, 
  #recently-viewed .products-container .container, 
  #recommended-products .products-container .container {
    width: 1000px;
  }
  .products-container .row .col-xs-3 .product-tile, 
  #recommended-products .product-tile {
    min-height: 380px;
  }
  #promotions {
    margin-top: 25px;
  }
  .img-content .food-finder {
    top: 15px;
    left: 5%;
  }
  #promotions .text-md, 
  #promotions .text-md, 
  #promotions.text-md, 
  #promotions .text-md {
    font-size: 1.4em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #promotions .text-large {
    font-size: 2em;
  }
  footer .row {
    display: block;
    margin: 0px;
  }
  footer .panel-heading {
    margin: 0px;
  }
  .main-footer .panel-default .panel-heading {
    border: 0px !important;
  }
  footer .main-footer .panel-default .social .col-md-3:first-child {
    padding-left: 0px;
  }
  footer .main-footer .panel-default .social .col-md-3:last-child {
    padding-right: 0px;
  }
}


@media (max-width: 480px) {
  .carousel-content {
      top: 20% !important;
  }
  #hero-slider .carousel-inner {
    height: 45%;
  }
  #promotions .text-large {
    font-size: 1.3em;
    margin-bottom: 0px;
  }
  #promotions .text-md, #promotions .text-md, #promotions.text-md, #promotions .text-md {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .product-heading .account-product-display {
    height: 40px;
    width: 40px;
  }
  .h3, h3 {
    font-size: 18px;
  }
  .products-header .view-all p {
    font-size: 0.8em;
  }
  .products-header .view-all .arrow-forward {
    width: 11px;
  }
  #newsletter h3 {
    font-size: 1.7em;
  }
  #category-banners .scroll-container .container {
    width: 645px;
  }
  .img-content.category-index {
    width: 300px;
    max-width: none;
  }
  .category-index .category-banner {
    width: auto;
    height: 232px;
    min-width: auto;
    max-width: none;
  }
  .category-index .category-content {
    padding: 0px 10px;
  }
  .category-index .btn-primary {
    min-width: auto;
  }
  .signup-login-container .account-error {
    font-size: 95%;
  }
  .main-footer .panel-default .social .fa-2x {
    font-size: 3.14em;
  }
  .signup-login-container h1 {
    font-size: 2em !important;
  }
  #categories-home .categories-home-header {
    padding-top: 0px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
  }
  #categories-home .categories-home-header .col-md-6 {
    padding: 0px;
  }
  #categories-home .categories-home-header .col-md-6:first-child {
    padding-left: 10px;
  }
  #categories-home .categories-home-header .col-md-6:last-child {
    padding-right: 5px;
  }
  .product-categories-grid .product-tile .caption h3 {
    font-size: 13px;
  }
  .product-categories-grid .product-tile .caption p {
    font-size: 14px;
  }
  .product-tile .prod-footer small {
    color: #231f1f;
    font-size: 0.875em;
    font-weight: 500;
    float: left;
    width: 100%;
  }
}

@media (max-width: 320px) {
    .img-content .career {
        left: 41%;
    }

    .carousel-content {
        top: 10% !important;
    }
    #hero-slider .carousel-content .text-large {
        font-size: 1.400em;
    }
    #hero-slider .carousel-content .btn-primary {
        font-size: 1.000em;
        padding: 8px 12px;
        height: 40px
    }
    #hero-slider .carousel-inner {
      height: 35%;
    }
    .img-content.category-index {
      width: 255px;
      max-width: none;
    }
    #category-banners .scroll-container .container {
      width: 550px;
    }
    .category-index .category-banner {
      width: auto;
      height: 200px;
    }
    .img-content .our-pack {
      top: 0;
      left: 47%;
      line-height: 1;
    }
    .signup-login-container .account-error {
      font-size: 80%;
    }
    .header-icon {
      padding-right: 10px;
      padding-top: 14px;
    }
    .navbar-brand img {
      width: 155px;
      height: auto;
    }
}





