.map-address-detail {
  min-height: 400px;
  padding: 100px 0;
  margin-right: 50px;
}

.map-address-detail h4 {
  color: #818181;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.map-address-detail p {
  color: #231f1f;
  font-size: 18px;
  line-height: 31px;
}

.map-address-detail .owner-img {
  height: 95px;
  background-repeat: no-repeat;
  width: 100px;
  background-position: center;
  border-radius: 50%;
}

.map-address-detail .owner-detail {
  padding: 15px 10px;
}

#about-store {
  background-color: #f4f4f2;
}

#about-store .container {
  background-color: #f4f4f2;
  padding: 100px 0;
}

#about-store .container h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

#about-store .container p {
  font-size: 18px;
  line-height: 36px;
}

#store-services .container {
  padding: 100px 0;
}

#store-services .service-img {
  background-repeat: no-repeat;
  background-color: #0098ce;
  background-position: center center;
  border-radius: 50%;
  height: 100px;
  width: 110px;
}

#store-services .service-detail {
  padding-bottom: 30px;
}

#store-services h4 {
  color: #231f1f;
  font-size: 24px;
  line-height: 31px;
}

#store-services p {
  color: #231f1f;
  font-size: 17px;
  line-height: 31px;
}

#in-stores {
  background-color: #f4f4f2;
  padding-top: 15px;
  padding-bottom: 50px;
}

.map-address-detail .main-head {
  color: #231f1f;
  font-size: 35.99px;
  font-weight: 400;
}

.social-slider .slick-prev,
.social-slider .slick-next {
  display: none !important;
}

.slick-slide {
  max-height: 220px;
  width: 216px !important;
}

.meet-team {
  background-color: #f4f4f2;
  padding: 80px 0px 95px 0px;
}

.member-pic {
  max-width: 100%;
  border-radius: 100%;
  height: auto;
}

.meet-team .main-head,
.events .main-head,
.meet-team .member-name {
  color: #231f1f;
  font-weight: 400;
  font-size: 36px;
}

.meet-team .member-name {
  font-weight: 700;
  margin-top: 40px;
}

.meet-team .small-head,
.meet-team .member-designation {
  color: #231f1f;
  font-weight: 400;
  font-size: 18px;
}

.meet-team .small-head {
  margin-bottom: 70px;
  display: block;
}

.meet-team .member-designation {
  display: block;
  margin-bottom: 34px;
}

.events {
  background-color: #fff;
  padding: 80px 0px 60px 0px;
}

/*.social-slider .slick-slide {
  max-width: 216px !important;
  width: 100% !important;
  height: 220px !important;
}*/


/*Search results page styling*/

.breadcrumb-bar .title {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 1.000em;
  line-height: 36px;
  color: #ffffff;
  font-weight: 100;
  position: relative;
  font-weight: 400;
  padding: 7px 0;
  margin-left: 0;
}

#categories-home {
  clear: both;
}

.categories-home-header h1 {
  font-size: 3.751em !important;
  font-weight: 800 !important;
  margin-top: 0;
  margin-bottom: 15px;
}

.categories-home-header h6 {
  font-size: 1.313em !important;
  font-weight: 400 !important;
}

p.bg-purple,
p.bg-red,
p.bg-blue {
  margin-bottom: 3px;
}

.img-content .percent-off {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

.text-ad-large {
  font-size: 3.50em;
  font-weight: 900;
}

.img-content .percent-off .btn {
  margin-top: 10px;
}

.advertisement-product {
  border-radius: 5px;
  overflow: hidden;
  height: 400px;
}

.advertisement-product img {
  height: 100%;
}

.product-tile .prod-footer .price-normal {
  color: #231f1f;
  font-size: 1.125em;
}
